/* ==========================================================================
                              Footer Style Sheet
========================================================================== */


footer {

  background: #333;
  clear:      both;

  p {

    margin: 0;
    padding: 25px;
    color: #fff;

  }

}
