/* ==========================================================================
                          Wrapper Style Sheet
========================================================================== */

body {

  background-color: #eee;

}

.wrapper {

  width:     100%;
  max-width: 100%;
  display:   block;
  margin:    auto;
  padding:   0;
  background-color: #fff;

  @include breakpoint(sm) {
    width: 768px;
  }

  @include breakpoint(md) {
    width: 970px;
  }

  @include breakpoint(lg) {
    width: 1170px;
  }

}
