// Set sass variables //


// End sass variables //

// Set sass mixins //

/*@mixin breakpoint($point) {
  @if $point == sm-screen {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == md-screen {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == lg-screen {
    @media (min-width: 1200px)  { @content; }
  }
}*/

// End sass mixins // 

// Begin sass write up //

body {

  background-color: #343B33;
  margin: 0; padding: 0;

  .wrapper {
    display: block;
    width: 760px;
    margin: auto;
    padding: 0;

    .masthead {
      background-color: #ABBFA6;
      margin:0px; padding: 50px 0 0 0;
      height: 182px;

      .avatar {
        width:50px; height: 50px;
        border-radius: 100%;
        background: #4B7341;
        margin: 0 auto;
        display: block;
      }

      .headline {
        text-align: center;
        margin: 0; padding: 50px 0;
        height: 32px; line-height: 32px;
      }
    }

    .media {
      height: 400px;

      .media-grid {
        list-style-type: none;
        background: #2A4024;
        margin: 0;
        padding: 0;
      }

      .media-grid li {
        background: #4B7341;
        float: left;
        height: 200px;
        width: 20%;
      }

      .media-grid li:nth-child(even) {
        background: #2A4024;
      }

      .media-grid.media-grid-sm li {
        width: 10%;
        height: 100px;
      }
    }

    .heroarea {
      width: 100%;
      height: 200px;
      background-color: #667363;
      padding-top: 80px;

      .showoff {
        width:20%;
        height: 200px;
        background-color: #ABBFA6;
        margin: 0 auto;
        bottom: 0;
      }
    }

    .aboutme {
      width: 100%; height: 400px;
      background-color: #4B7341;

      .column-left {
        width: 50%;
        float: left;
        display: block;
        height: 400px;

        .aboutme-image {
          background-color: #2A4024;
          margin: 30px;
          height:140px;
        }

        .aboutme-txt {
          margin: 30px;
          height:140px;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .column-right {
        width: 50%;
        float: right;
        display: block;
        height: 400px;

        .aboutme-image {
          background-color: #2A4024;
          margin: 30px;
          height:140px;
        }

        .aboutme-txt {
          margin: 30px;
          height:140px;
          font-size: 20px;
          line-height: 24px;
        }        
      }
    }
  }
}

// End sass write up // 